/public/js/app.js
/public/js/app.js.map
/public/css/app.css
/public/css/app.css.map

/public/js/*
/public/css/*
/public/build/*
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
# Wave ignores.
/public/.well-known
/.vagrant
/wave-pro
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
#/wave/vendor/
/public/wave/docs
